.btn{
    align-items: center;
}


.Table{
    margin: 10px;
    padding-right: 20rem;
}


.container{
    background-color: rgb(193, 208, 208);
}


.mb-3{
    .btn{
     align-items: center;
    }
}

