body{
    background:whitesmoke;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.login{
    width: 350px;
    margin: 100px auto 0px;
    background: white;
    border-radius: 5px;
    border: 1px solid #B0C4DE;
}
.signup{
    width: 360px;
    height: 620px;
    margin: 78px auto 0px;
    background: white;
    border-radius: 3px;
    border: 1px solid #B0C4DE;
}
h1{
    text-align: center;
}
form{ 
    width: 300px;
    margin: 15px auto 0px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;

}
input[type="submit"]{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: white;
    background: rgb(13, 211, 247);
}
p{
    text-align: center;
    padding-top:20px;
    font-size: 15px;
}

.pass-icon{
    position: absolute;
    top: 190px;
    left: 823px;
    width: 24px;
    cursor: pointer;
}
